@page
@model Testare_TravelingApp.Pages.Reviews.DeleteModel

@{
    ViewData["Title"] = @Model._localizer["Title_DeleteReview"];
}

<h1>@Model._localizer["Title_DeleteReview"]</h1>

<h3>@Model._localizer["Heading_DeleteConfirmation"]</h3>
<div>
    <h4>@Model._localizer["Label_Review"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model._localizer["Label_Rating"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Rating)
        </dd>

        <dt class="col-sm-2">
            @Model._localizer["Label_Comment"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Comment)
        </dd>

        <dt class="col-sm-2">
            @Model._localizer["Label_DatePosted"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.DatePosted)
        </dd>

        <dt class="col-sm-2">
            @Model._localizer["Label_User"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.User.Email)
        </dd>

        @if (Model.Review.Activity != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_Activity"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Review.Activity.Name)
            </dd>
        }

        @if (Model.Review.Restaurant != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_Restaurant"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Review.Restaurant.Name)
            </dd>
        }

        @if (Model.Review.TouristAttraction != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_TouristAttraction"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Review.TouristAttraction.Name)
            </dd>
        }

        @if (Model.Review.NatureTrail != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_NatureTrail"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Review.NatureTrail.Name)
            </dd>
        }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Review.ReviewId" />
        <input type="submit" value="@Model._localizer["Button_Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">@Model._localizer["Button_BackToList"]</a>
    </form>
</div>
