@page
@model Testare_TravelingApp.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>

<p>
    <a asp-page="Create" class="btn" style="background-color:lightblue">Add Review</a>
</p>

<div class="row">
    <hr />
    @foreach (var item in Model.Review)
    {
       
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5>@item.User.Email</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span class="badge text-dark" style="background-color:khaki">@item.Rating / 5</span>
                        <span class="text-muted">@item.DatePosted.ToString("MMMM dd, yyyy")</span>
                    </div>
                    <p class="card-text mt-3">
                        <strong>Comment:</strong> @item.Comment
                    </p>
                    <p>
                        @if (item.Activity != null)
                        {
                            <span class="badge" style="background-color:#c4c1e0">Activity: @item.Activity.Name</span>
                        }
                        @if (item.Restaurant != null)
                        {
                            <span class="badge" style="background-color:#c7b198">Restaurant: @item.Restaurant.Name</span>
                        }
                        @if (item.NatureTrail != null)
                        {
                            <span class="badge" style="background-color:#ffa952">Nature Trail: @item.NatureTrail.Name</span>
                        }
                        @if (item.TouristAttraction != null)
                        {
                            <span class="badge" style="background-color:#ddeedf">Attraction: @item.TouristAttraction.Name</span>
                        }
                    </p>
                </div>
                <div class="card-footer text-end">
                    <a asp-page="./Edit" asp-route-id="@item.ReviewId" class="btn btn-sm" style="background-color:pink">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ReviewId" class="btn btn-sm" style="background-color:sandybrown">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ReviewId" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
