@page
@model Testare_TravelingApp.Pages.Activities.CreateModel

@{
    ViewData["Title"] = Model.CreateActivityTitle;
}

<h1>@Model.CreateActivityTitle</h1>

<h4>@Model.ActivityHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Activity.Name" class="control-label">@Model.ActivityName</label>
                <input asp-for="Activity.Name" class="form-control" />
                <span asp-validation-for="Activity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Activity.Description" class="control-label">@Model.ActivityDescription</label>
                <input asp-for="Activity.Description" class="form-control" />
                <span asp-validation-for="Activity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Activity.Location" class="control-label">@Model.ActivityLocation</label>
                <input asp-for="Activity.Location" class="form-control" />
                <span asp-validation-for="Activity.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.StartDate" class="control-label">@Model.ActivityStartDate</label>
                <input asp-for="Activity.StartDate" class="form-control" />
                <span asp-validation-for="Activity.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.EndDate" class="control-label">@Model.ActivityEndDate</label>
                <input asp-for="Activity.EndDate" class="form-control" />
                <span asp-validation-for="Activity.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.CreateButton" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">@Model.BackToList</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
