@page
@model Testare_TravelingApp.Pages.Activities.DeleteModel

@{
    ViewData["Title"] = Model._localizer["Title_Delete"];
}

<h1>@Model._localizer["Title_Delete"]</h1>

<h3>@Model._localizer["Heading_DeleteConfirmation"]</h3>
<div>
    <h4>@Model._localizer["Label_Activity"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model._localizer["ActivityName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>
        <dt class="col-sm-2">
            @Model._localizer["ActivityDescription"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>
        <dt class="col-sm-2">
            @Model._localizer["ActivityLocation"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Location)
        </dd>
        <dt class="col-sm-2">
            @Model._localizer["ActivityStartDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Model._localizer["ActivityEndDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.EndDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Activity.ActivityId" />
        <input type="submit" value="@Model._localizer["Button_Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn">@Model._localizer["Button_BackToList"]</a>
    </form>
</div>
