@page
@model Testare_TravelingApp.Pages.Activities.EditModel

@{
    ViewData["Title"] = Model._localizer["Title_Edit"];
}

<h1>@Model._localizer["Title_Edit"]</h1>

<h4>@Model._localizer["Label_Activity"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">@Model._localizer["Validation_Error"]</div>
            <input type="hidden" asp-for="Activity.ActivityId" />
            <div class="form-group">
                <span class="text-danger">@Model._localizer["Label_Required"]</span>
                <label asp-for="Activity.Name" class="control-label">@Model._localizer["ActivityName"]</label>
                <input asp-for="Activity.Name" class="form-control" />
                <span asp-validation-for="Activity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">@Model._localizer["Label_Required"]</span>
                <label asp-for="Activity.Description" class="control-label">@Model._localizer["ActivityDescription"]</label>
                <input asp-for="Activity.Description" class="form-control" />
                <span asp-validation-for="Activity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">@Model._localizer["Label_Required"]</span>
                <label asp-for="Activity.Location" class="control-label">@Model._localizer["ActivityLocation"]</label>
                <input asp-for="Activity.Location" class="form-control" />
                <span asp-validation-for="Activity.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.StartDate" class="control-label">@Model._localizer["ActivityStartDate"]</label>
                <input asp-for="Activity.StartDate" class="form-control" />
                <span asp-validation-for="Activity.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.EndDate" class="control-label">@Model._localizer["ActivityEndDate"]</label>
                <input asp-for="Activity.EndDate" class="form-control" />
                <span asp-validation-for="Activity.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model._localizer["Button_Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary">@Model._localizer["Button_BackToList"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
