@page
@model Testare_TravelingApp.Pages.NatureTrails.CreateModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Testare_TravelingApp.Resources> _localizer

@{
    ViewData["Title"] = _localizer["Title_Create"];
}

<h1>@_localizer["Title_Create"]</h1>

<h4>@_localizer["Label_NatureTrail"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="NatureTrail.Name" class="control-label">
                    @_localizer["Column_Name"]
                </label>
                <input asp-for="NatureTrail.Name" class="form-control" />
                <span asp-validation-for="NatureTrail.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="NatureTrail.Description" class="control-label">
                    @_localizer["Column_Description"]
                </label>
                <input asp-for="NatureTrail.Description" class="form-control" />
                <span asp-validation-for="NatureTrail.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="NatureTrail.Location" class="control-label">
                    @_localizer["Column_Location"]
                </label>
                <input asp-for="NatureTrail.Location" class="form-control" />
                <span asp-validation-for="NatureTrail.Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NatureTrail.LengthInKm" class="control-label">
                    @_localizer["Column_LengthInKm"]
                </label>
                <input asp-for="NatureTrail.LengthInKm" class="form-control" />
                <span asp-validation-for="NatureTrail.LengthInKm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@_localizer["Button_Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-secondary">
        @_localizer["Button_BackToList"]
    </a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
