@page
@model Testare_TravelingApp.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a class="custom-link" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a class="custom-link" asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> 
                    <a class="custom-link" asp-page="./Details" asp-route-id="@item.UserId">Details</a> 
                    <a class="custom-link" asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
