@page
@model Testare_TravelingApp.Pages.TouristAttractions.DeleteModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Testare_TravelingApp.Resources> _localizer

@{
    ViewData["Title"] = _localizer["Title_DeleteTouristAttraction"];
}

<h1>@_localizer["Title_DeleteTouristAttraction"]</h1>

<h3>@_localizer["Heading_DeleteConfirmation"]</h3>
<div>
    <h4>@_localizer["Label_TouristAttraction"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @_localizer["Column_Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TouristAttraction.Name)
        </dd>

        <dt class="col-sm-2">
            @_localizer["Column_Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TouristAttraction.Description)
        </dd>

        <dt class="col-sm-2">
            @_localizer["Column_Location"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TouristAttraction.Location)
        </dd>

        <dt class="col-sm-2">
            @_localizer["Column_OpeningHours"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TouristAttraction.OpeningHours)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="TouristAttraction.TouristAttractionId" />
        <input type="submit" value="@_localizer["Button_Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">
            @_localizer["Button_BackToList"]
        </a>
    </form>
</div>
