@page
@model Testare_TravelingApp.Pages.TouristAttractions.IndexModel

@{
    ViewData["Title"] = @Model._localizer["Title_TouristAttractions"];
}

<h1>@Model._localizer["Title_TouristAttractions"]</h1>

<p>
    <a asp-page="Create" class="btn" style="background-color: lightblue;">
        @Model._localizer["Button_CreateNew"]
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Model._localizer["Column_Name"]
            </th>
            <th>
                @Model._localizer["Column_Description"]
            </th>
            <th>
                @Model._localizer["Column_Location"]
            </th>
            <th>
                @Model._localizer["Column_OpeningHours"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TouristAttraction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningHours)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TouristAttractionId" class="btn btn-sm" style="background-color: pink;">
                        @Model._localizer["Button_Edit"]
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.TouristAttractionId" class="btn btn-sm" style="background-color: sandybrown;">
                        @Model._localizer["Button_Details"]
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.TouristAttractionId" class="btn btn-danger btn-sm">
                        @Model._localizer["Button_Delete"]
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
