@page
@model Testare_TravelingApp.Pages.Agendas.DeleteModel

@{
    ViewData["Title"] = Model._localizer["Title_Delete"];
}

<h1>@Model._localizer["Title_Delete"]</h1>

<h3>@Model._localizer["Heading_DeleteConfirmation"]</h3>
<div>
    <h4>@Model._localizer["Label_Agenda"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model._localizer["Agenda_Title"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Title)
        </dd>
        <dt class="col-sm-2">
            @Model._localizer["Agenda_DateCreated"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Model._localizer["Agenda_User"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.User.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Agenda.AgendaId" />
        <input type="submit" value="@Model._localizer["Button_Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn">@Model._localizer["Button_BackToList"]</a>
    </form>
</div>
