@page
@model Testare_TravelingApp.Pages.Agendas.DetailsModel

@{
    ViewData["Title"] = @Model._localizer["Title_DetailsAgenda"];
}

<h1>@Model._localizer["Title_DetailsAgenda"]</h1>

<div>
    <h4>@Model._localizer["Label_Agenda"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model._localizer["Label_Title"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Title)
        </dd>

        <dt class="col-sm-2">
            @Model._localizer["Label_DateCreated"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.DateCreated)
        </dd>

        <dt class="col-sm-2">
            @Model._localizer["Label_User"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.User.Email)
        </dd>

        @if (Model.Agenda.Activity != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_Activity"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.Activity.Name)
            </dd>
        }

        @if (Model.Agenda.Restaurant != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_Restaurant"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.Restaurant.Name)
            </dd>
        }

        @if (Model.Agenda.TouristAttraction != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_TouristAttraction"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.TouristAttraction.Name)
            </dd>
        }

        @if (Model.Agenda.NatureTrail != null)
        {
            <dt class="col-sm-2">
                @Model._localizer["Label_NatureTrail"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.NatureTrail.Name)
            </dd>
        }
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Agenda.AgendaId" class="btn btn-warning">
        @Model._localizer["Button_Edit"]
    </a> |
    <a asp-page="./Index" class="btn btn-primary">
        @Model._localizer["Button_BackToList"]
    </a>
</div>
