@page
@model Testare_TravelingApp.Pages.Agendas.DetailsModel

@{
    ViewData["Title"] = "Agenda Details";
}

<h1>Agenda Details</h1>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.DateCreated)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.User.Email)
        </dd>

        <!-- Afișează activitatea dacă este selectată -->
        @if (Model.Agenda.Activity != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Agenda.Activity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.Activity.Name)
            </dd>
        }

        <!-- Afișează restaurantul dacă este selectat -->
        @if (Model.Agenda.Restaurant != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Agenda.Restaurant)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.Restaurant.Name)
            </dd>
        }

        <!-- Afișează atracția turistică dacă este selectată -->
        @if (Model.Agenda.TouristAttraction != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Agenda.TouristAttraction)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.TouristAttraction.Name)
            </dd>
        }

        <!-- Afișează traseul de natură dacă este selectat -->
        @if (Model.Agenda.NatureTrail != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Agenda.NatureTrail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agenda.NatureTrail.Name)
            </dd>
        }
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Agenda.AgendaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
